* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -- GENERAL SETTINGS -- */
.container {
  margin: 20px 10%;
}

.row {
  margin: 20px 0;
}

[class*="100"] {
  width: 100%;
}


/* -- HEADER -- */
header div.row {
  background-color: lightpink;
  height: 50px;
}

/* ---MAIN --- */
main div.orangino {
  background-color: rgb(225,214,122);
  height: 100px;
}

main div.blue {
  margin-top: 20px;
  background-color: lightblue;
  height: 80px;
  width
}
