* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -- GENERAL SETTINGS -- */
.container {
  margin: 20px 10%;
}

.row {
  margin: 20px 0;
}

/* -- HEADER -- */
header div.row {
  background-color: lightpink;
}

/* ---MAIN --- */
main > div {
  background-color: rgb(225,214,122)
}

/* -- NOT STABLE WORK IN PROGRES-- */

body * {
  background-color: lightgray;
  height: 50px;
}
